.searchPanel {
  width: 100%;
  height: 70px;
  display: grid;
  padding: 4.75px 40px;
  grid-template-areas: 'city startDate endDate guests';
  background: #fff;
  border-radius: 50px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  position: relative;

  @media (max-width: 910px) {
    padding: 4.75px 20px;
  }

  @media (max-width: 750px) {
    height: auto;
    grid-template-areas:
      'city city'
      'startDate endDate'
      'guests guests';
    padding: 30px 15px 105px;
    row-gap: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
  }

  label {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6b6b6b;
    font-size: 12px;
    margin-bottom: 2px;
    max-width: 203px;

    @media (max-width: 1080px) { max-width: 160px; }
    @media (max-width: 910px) { max-width: 120px; }
    @media (max-width: 750px) {
      max-width: unset;
      width: 100%;
      color: #000;
      font-size: 10px;

      &:last-of-type { width: 100%; }

      span { margin-left: 20px; }
    }

    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      color: #000;
      padding: 1px;

      @media (max-width: 750px) {
        margin-top: 5px;
        padding: 15px 20px;
        font-size: 12px;
        border-radius: 100px;
        border: 1px solid #ddd;
      }
    }

    input::placeholder { color: black; }
  }

  label::before {
    content: url('data:image/svg+xml;utf8,<svg width="1" height="36" viewBox="0 0 1 36" fill="%23D9D9D9" xmlns="http://www.w3.org/2000/svg"><rect y="0.5" width="1" height="35" /></svg>');
    position: absolute;
    right: -10px;
    top: calc(50% - 18px);

    @media (max-width: 910px) { right: -30px; }
    @media (max-width: 810px) { right: -10px; }
    @media (max-width: 750px) { display: none; }
  }
}

.searchButton {
  border: #E83801;
  background: #E83801;
  position: absolute;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s ease-in;

  span { display: none; }

  @media (max-width: 750px) {
    top: calc(100% - 74px);
    height: 44px;
    transform: none;
    right: 15px;
    width: calc(100% - 30px);
    border-radius: 100px;
    background: rgb(232, 56, 1);
    padding-right: 31px;

    span {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.14px;
    }

    .icon {
      width: 50px;
      circle { display: none; }
    }
  }
}

.icon:hover circle { fill: #000; }

.city { grid-area: city; }
.startDate input { border-radius: 100px 0 0 100px !important; }
.endDate input { border-radius: 0 100px 100px 0 !important; }
.guests { grid-area: guests; }