@mixin button {
  all: unset;

  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  transition: all 0.2s ease-in;
  cursor: pointer;

  &:hover {
    background-color: black;
  }
}

.primary {
  @include button;

  background: #E83801;
  color: #fff;
}

.fullwidth {
  width: 100%;
}

.iconButton {

}