.picker {
  position: absolute;
  background-color: white;
  z-index: 1;
  padding: 0 5px;
  visibility: hidden;
}
.open {
  transform: translate(-30px, 80%);
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  visibility: visible;

  @media screen and (max-width: 580px){
    left: 70px
  }
}

.content {
  display: flex;
  flex-direction: column;

  row-gap: 20px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(232, 56, 1);
  border-radius: 10px;
  padding: 6px;
  min-width: 85px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0 10px;
  }
}

